:root {
  --Moderate-cyan: hsl(176, 50%, 47%);
  --Dark-cyan: hsl(176, 72%, 28%);

  --Black: hsl(0, 0%, 0%);
  --Dark-gray: hsl(0, 0%, 48%);
}

* {
  font-family: "Commissioner", sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: rgb(250, 250, 250);
  overflow-x: hidden;
  color: var(--Dark-gray);
}

.main-header {
  background-image: url(images/image-hero-desktop.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  border-radius: 0;
}

.container {
  transform: translateY(-75px);
  max-width: 720px;
}

ul li {
  list-style: none;
}

ul li a {
  color: white;
  text-decoration: none;
}

ul li a:hover {
  color: white;
}

.mastercraft-logo {
  top: -80px;
  right: 44%;
}

header,
section {
  border-radius: 0.6rem;
  border: 1px solid hsl(0, 3%, 94%);
}

h1,
h2,
h3,
h4,
.card span {
  color: var(--Black);
}

p {
  line-height: 1.8;
}

button {
  font-weight: 500;
}

.back-btn {
  background-color: var(--Moderate-cyan);
  height: 56px;
}

.bookmark-btn {
  color: var(--Dark-gray);
  width: 160px;
  text-align: right;
  content: "bookmark";
  font-weight: 700;
}

.bookmark-btn.active {
  background-color: hsla(176, 50%, 47%, 0.1);
  color: var(--Dark-cyan);
  width: 180px;
}

.bookmark-btn-icon {
  outline: none;
  height: 56px;
  width: 56px;
  background: url(images/icon-bookmark.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bookmark-btn-icon.active {
  background: url(images/icon-bookmarked.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.stats div {
  border-right: 1px solid hsl(0, 3%, 84%);
}

.progress {
  width: 100%;
  height: 0.8rem;
  border-radius: 0.8rem;
  background: hsl(0, 3%, 94%);
}

.progress-bar {
  width: 89%;
  border-radius: 1rem;
  background-color: var(--Moderate-cyan);
}

.card {
  border-radius: 0.5rem;
}

.card h5 {
  color: var(--Moderate-cyan);
}

.card button {
  background-color: var(--Moderate-cyan);
  font-size: 0.8rem;
}

button.disabled {
  background-color: var(--Dark-gray);
}

.card-inactive {
  opacity: 0.5;
}

.back-btn:hover,
.card button:hover {
  background-color: var(--Dark-cyan);
}

/* MAIN MODAL */

main .modal-content {
  border-radius: 0.6rem;
}

.btn-close {
  background: url(images/icon-close-modal.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.modal-card {
  color: var(--Dark-gray);
}

.modal-card h3 {
  color: var(--Black);
}

label h4:hover {
  color: var(--Moderate-cyan);
  cursor: pointer;
}

.card-inactive label h4:hover {
  color: var(--Black);
  cursor: default;
}

.modal-card label {
  cursor: pointer;
}

input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: var(--Dark-cyan);
  width: 18px;
  height: 18px;
  border: 1px solid hsl(0, 3%, 84%);
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 16px 16px var(--Moderate-cyan);
}

input[type="radio"]:checked::before {
  transform: scale(0.5);
}

.modal-card.active {
  border: 2px solid var(--Moderate-cyan);
}

input[type="number"] {
  cursor: pointer;
  padding: 1rem;
  width: 80px;
  height: 40px;
  border: none;
  outline: 2px solid hsl(0, 3%, 84%);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
}

.collapse button {
  height: 40px;
}

input[type="number"]:focus {
  outline: 2px solid var(--Moderate-cyan);
}

.collapse .input-group-text {
  color: hsl(0, 3%, 74%);
  font-size: 0.8rem;
  top: 4px;
}

#collapseModalThankYou button {
  font-size: 0.8rem;
  background-color: var(--Moderate-cyan);
}

#collapseModalThankYou button:hover {
  background-color: var(--Dark-cyan);
}

.attribution {
  font-size: 0.7rem;
}

/* RESPONSIVE */

@media (max-width: 575px) {
  section p {
    font-size: 0.85rem;
  }

  .nav-modal-dialog {
    position: absolute;
    top: 5rem;
    right: 3%;
    left: 3%;
  }

  .nav-modal-body {
    border-radius: 0.7rem;
  }

  .nav-modal-dialog button {
    top: -70px;
    right: 0;
  }

  ul li {
    font-weight: 500;
    border-bottom: 1px solid hsl(0, 3%, 84%);
    padding: 1.5rem;
  }

  ul li:last-child {
    border-bottom: none;
  }

  ul li a,
  ul li a:hover {
    color: var(--Black);
  }

  header p {
    font-size: 0.76rem;
  }

  .back-btn {
    font-size: 0.8rem;
    width: 100%;
  }

  .bookmark-btn {
    opacity: 0;
  }

  .stats div {
    border-right: none;
  }

  .line {
    height: 1px;
    width: 100px;
    background-color: hsl(0, 3%, 84%);
    margin-inline: auto;
  }
}

@media (max-width: 768px) {
  .main-header {
    background-image: url(images/image-hero-mobile.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .container {
    padding-inline: 2rem;
  }
}
